.filter {
	display: none !important;
}

.gamePlatformIndicatorBar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: white;
	border-radius: 10px;
	color: #d65a31;
	border-style: solid;
	border-width: 3px;
	border-color: #d65a31;
	margin-bottom: 10px;
}

.gamePlatformIndicatorBarXbox {
	border-color: #107c10;
	color: #107c10;
}

.gamePlatformIndicatorBarPlayStation {
	border-color: #006fcd;
	color: #006fcd;
}
.gamePlatformIndicatorBarPC {
	border-color: #e72929;
	color: #e72929;
}

.productsPageContainer {
	display: grid;
	grid-template-columns: auto;
}

@media (min-width: 992px) {
	.filter {
		display: block !important;
	}
	.productsPageContainer {
		grid-template-columns: 30% 70%;
	}
}
