.filter {
	display: none !important;
}

.gamePlatformIndicatorBar {
	height: 50px;
	background-color: white;
	border-radius: 10px;
	color: #d65a31;
	border-style: solid;
	border-width: 3px;
	border-color: #d65a31;
}

.gamePlatformIndicatorBarXbox {
	border-color: #107c10;
	color: #107c10;
}

.gamePlatformIndicatorBarPlayStation {
	border-color: #006fcd;
	color: #006fcd;
}
.gamePlatformIndicatorBarPC {
	border-color: #e72929;
	color: #e72929;
}

@media (min-width: 992px) {
	.filter {
		display: block !important;
	}
}
