.orderSummaryScreen_Container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 100px;
}
.orderSummaryScreen_Container > div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0px 0px;
	height: 40px;
}

.orderScreenButtonRow {
	padding: 0px;
}

.orderScreenButton {
	width: 100%;
	height: 40px;
	border: none;
	padding: 0px;
	border-radius: 10px;
	background-color: #393e46;
	color: white;
}

.orderSummaryScreen__button-hover {
	background-color: #222831;
}

@media only screen and (min-width: 992px) {
	.orderSummaryScreen_Container {
		margin-left: 10px;
	}
}
