.register__container {
	display: grid;
	grid-template-rows: 80px 50px 40px 40px 40px 70px 40px 70px 40px 70px 70px 70px;
	background-color: white;
	width: 640px;
	height: 700px;
	border-radius: 40px;
}

.register__h1 {
	color: #d65a31;
	font-size: 50px;
	display: block;
	margin: 20px 0px;
}
.register__h2 {
	color: #b4b4b8;
	font-size: 40px;
	display: block;
	margin: 0px;
}

.register__container > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.register__button {
	background-color: #393e46;
	color: #eeeeee;
	border: none;
	border-radius: 15px;
	width: 300px;
	height: 50px;
}

.register__errorMsg {
	display: none;
	display: none;
	height: 10px;
	margin: 0px 0px;
	color: red;
	font-size: 15px;
}

.register__errorMsg_error {
	display: inline-block;
}

.register__seller-button {
	background-color: #393e46;
	color: #eeeeee;
	width: 100px;
	height: 35px;
	border: none;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.register__seller-button_clicked {
	border-top: 3px solid #d65a31 !important;
	border-left: 3px solid #d65a31 !important;
	border-bottom: 3px solid #d65a31 !important;
}
.register__buyer-button {
	background-color: #393e46;
	color: #eeeeee;
	width: 100px;
	height: 35px;
	border: none;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.register__buyer-button_clicked {
	border-top: 3px solid #d65a31 !important;
	border-right: 3px solid #d65a31 !important;
	border-bottom: 3px solid #d65a31 !important;
}

.register__button_hover {
	background-color: #222831;
}
