.filterScreenContainer {
	padding-left: 5%;
	padding-right: 5%;
}

.filterScreen__button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.filterScreen__button {
	margin-top: 20px;
	background-color: #d65a31;
	color: white;
	border: none;
	width: 200px;
	height: 30px;
	border-radius: 10px;
}

.filterScreen__button-hover {
	background-color: #d65a3190;
}

@media only screen and (min-width: 992px) {
	.filterScreen__button {
		display: none;
	}
}
