.filterCard_Button {
	border-radius: 10px;
	border: none;
	background-color: white;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	font-weight: bold;
	max-height: fit-content;
}

.filterCardButton_textIconContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filterCardButton_Icon {
	color: #222831;
}

.filterCardButton_Label {
	display: inline-block;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
