.filterCardButton {
	border: none;
	background-color: white;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	font-weight: bold;
}

.filterCardButtonRow {
	min-height: 1px;
}

.filterCardIcon {
	padding-left: 0;
	padding-right: 0;
}

.filterCardButtonLabel {
	text-align: left;
}
