.userAccountPage__container {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	width: 100%;
}
.userAccountPage__container > div {
	width: 100%;
}

.userAccountPage__user-card-container {
	display: none;
}

@media only screen and (min-width: 768px) {
	.userAccountPage__user-card-container {
		display: inline-block;
	}

	.userAccountPage__container > div {
		width: auto;
		display: grid;
		grid-template-columns: 300px 400px;
		column-gap: 15px;
	}
}

@media only screen and (min-width: 992px) {
	.userAccountPage__container > div {
		grid-template-columns: 300px 700px;
	}
}
