.cartProductCard {
	background-color: white;
	margin-bottom: 5px !important;
	margin-top: 5px !important;
	margin-right: 0px !important;
	border-radius: 10px;
}

.buttonsRow {
	min-height: 100% !important;
}

.textRow {
	min-height: 100% !important;
}

.plusMinusButton {
	border: none;
	border-radius: 25px;
	width: 40px;
	height: 40px;
	margin: 10px;
}
.plusMinusIcon {
	color: #222831;
	font-size: 20px;
}

.price {
	font-weight: 400;
	font-size: 30px;
	padding-top: 2%;
	color: #d65a31;
}
