.advertiesementCard__container {
	background-color: white;
	border-radius: 10px;
	margin: 10px 0px;
}

.advertiesementCard__container > div > div > img {
	width: 200px;
	height: 200px;
}

.advertiesementCard__content-container > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.advertiesementCard__header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: white;
}

.advertiesementCard__header-container > p {
	margin: 10px 10px;
}

.advertiesementCard__price-container {
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.advertiesementCard__price-container > input {
	box-sizing: border-box;
	width: 100px;
	height: 30px;
	text-align: center;
	border-radius: 5px;
}

.advertiesementCard__price-container > button {
	color: white;
	border: none;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin: 5px;
}
.advertiesementCard__status-container_active {
	background-color: #107c1050;
	color: #107c10;
}

.advertiesementCard__status-container_inactive {
	background-color: #22283150;
	color: #222831;
}
