.sideNavbarButtons {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #222831;
	padding-left: 2px !important;
	padding-right: 2px !important;
	margin-left: 5px;
	margin-right: 5px;
	color: #d8d2d2;
	padding-left: 30%;
	padding-right: 30%;
	border-width: 0px 0px 0px 0px;
	border-style: solid;
	width: 95%;
	text-align: start;
}

.sideNavbarButtonHover {
}
