.successScreen__container {
	display: grid;
	grid-template-rows: 50% 50%;
	background-color: #006fcd30;
	width: 540px;
	height: 540px;
	border-radius: 5px;
}

.successScreen__container > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.successScreen__container > div > button {
	background-color: #393e46;
	border: none;
	color: white;
	height: 50px;
	width: 300px;
	border-radius: 15px;
}

.successScreen__button_hover {
	background-color: #222831 !important;
}

@media only screen and (max-width: 600px) {
	.successScreen__container {
		width: 300px;
		height: 400px;
	}
}
