.activationKeysScreen__header-container {
	display: flex;
	align-items: center;
	background-color: white;
	height: 100px;
	border-radius: 15px;
}

.activationKeysScreen__header-container > h2 {
	margin: 10px 10px;
}
