.productCard_Container {
	border-radius: 10px;
	background-color: white;
	display: grid;
	grid-template-columns: auto auto auto;
	margin-bottom: 5px;
}

.productCard_ImgContainer {
	display: flex;
	align-items: center;
	justify-content: start;
}

.productCard_mainImg {
	width: 150px;
	height: 150px;
	margin: 20px 20px;
	border-radius: 10px;
}
.productCard__textContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 30px;
}

.list {
	display: none;
}
@media only screen and (max-width: 600px) {
	.productCard_Container {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto;
		padding: 10px;
	}
	.productCard_ImgContainer {
		justify-content: center;
	}
	.productCard_Container > div > div > h6,
	h5 {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media (min-width: 730px) {
	.list {
		display: inline-block;
	}
}
