.orderSummaryScreen__grid-container {
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	border: 3px solid #e72929;
}

.orderSummaryScreen__grid-container > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.orderSummaryScreen__container {
	display: grid;
	grid-template-rows: 50px auto;
	border-radius: 5px;
	padding: 10px;
}

.orderSummaryScreen__button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #393e46;
	text-decoration: none;
	color: #eeeeee;
	border: none;
	border-radius: 15px;
	width: 300px;
	height: 50px;
}
.orderSummaryScreen__button_hover {
	background-color: #222831;
}
