.orderSummaryProductCard__container {
	display: grid;
	grid-template-rows: 40px;
	grid-template-columns: 30px 200px auto;
	column-gap: 10px;
	border-top: 1px solid hsla(217, 10%, 25%, 0.314);
	border-bottom: 1px solid #393e4650;
}

.orderSummaryProductCard__container > div {
	display: flex;
	align-items: center;
}

@media only screen and (min-width: 600px) {
	.orderSummaryProductCard__container {
		grid-template-columns: 30px 400px auto;
	}
}

@media only screen and (min-width: 768px) {
	.orderSummaryProductCard__container {
		grid-template-columns: 30px 600px auto;
	}
}

@media only screen and (min-width: 992px) {
	.orderSummaryProductCard__container {
		grid-template-columns: 30px 850px auto;
	}
}
