.favoriteProductCardButtons_Container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
}

.favoriteProductCardButtons_Container > div {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
	.favoriteProductCardButtons_Container > div {
		justify-content: center;
	}
}

.favoriteProductCardButtons_price {
	font-weight: 400;
	font-size: 30px;
	color: #d65a31;
	margin-right: 10px;
}
