.sideNavbarButton {
	display: inline-block;
	background-color: #222831;
	padding-left: 2px !important;
	padding-right: 2px !important;
	margin-left: 2px;
	margin-right: 5px;
	color: #d8d2d2;
	padding-left: 30%;
	padding-right: 30%;
	border-width: 0px 0px 0px 0px;
	width: 30px;
	text-align: center;
}

.sideNavbar {
	background: #222831;
	position: absolute;
	top: 50px;
	color: #eeeeee;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 300px;
}
